---
import Logotype from "../components/Logotype.astro";
import BaseLayout from "./Base.astro";

const { title } = Astro.props;
---

<BaseLayout {title}>
  <div class="w-64 flex-col fixed inset-y-0 bg-slate-800">
    <div class="flex-1 space-y-4 pt-5 pb-5 overflow-y-auto">
      <div class="flex items-center flex-shrink-0 px-4"><Logotype /></div>

      <nav class="flex-1 px-2 space-y-2" aria-label="Sidebar">
        <div>
          <a
            href="/docs"
            class="flex space-x-3 items-center p-2 bg-slate-900 text-slate-100 group w-full text-sm font-medium rounded-md"
          >
            <i class="fa-duotone fa-house h-5"></i>
            <span>Introduction</span>
          </a>
        </div>

        <div class="space-y-1">
          <a
            href="/docs/start"
            class="flex space-x-3 items-center bg-slate-700 text-slate-100 hover:text-orange-100 hover:bg-orange-900 group w-full p-2 text-left text-sm font-medium rounded-md focus:outline-none focus:ring-2 focus:ring-indigo-500"
            aria-controls="sub-menu-1"
            aria-expanded="false"
          >
            <i class="fa-duotone fa-rocket-launch h-5"></i>
            <span class="flex-1">Start</span>
          </a>

          <div class="space-y-1" id="sub-menu-1">
            <a
              href="/docs/start/astro"
              class="group w-full flex items-center pl-11 pr-2 py-2 text-sm font-medium text-slate-300 rounded-md hover:text-orange-100 hover:bg-orange-900"
            >
              Astro
            </a>

            <a
              href="/docs/start/next"
              class="group w-full flex items-center pl-11 pr-2 py-2 text-sm font-medium text-slate-300 rounded-md hover:text-orange-100 hover:bg-orange-900"
            >
              Next.js
            </a>

            <a
              href="/docs/start/remix"
              class="group w-full flex items-center pl-11 pr-2 py-2 text-sm font-medium text-slate-300 rounded-md hover:text-orange-100 hover:bg-orange-900"
            >
              Remix
            </a>

            <a
              href="/docs/start/vite"
              class="group w-full flex items-center pl-11 pr-2 py-2 text-sm font-medium text-slate-300 rounded-md hover:text-orange-100 hover:bg-orange-900"
            >
              Vite
            </a>

            <a
              href="/docs/start/cra"
              class="group w-full flex items-center pl-11 pr-2 py-2 text-sm font-medium text-slate-300 rounded-md hover:text-orange-100 hover:bg-orange-900"
            >
              Create React App
            </a>

            <a
              href="/docs/start/vanilla"
              class="group w-full flex items-center pl-11 pr-2 py-2 text-sm font-medium text-slate-300 rounded-md hover:text-orange-100 hover:bg-orange-900"
            >
              Vanilla
            </a>

            <a
              href="/docs/start/configuration"
              class="group w-full flex items-center pl-11 pr-2 py-2 text-sm font-medium text-slate-300 rounded-md hover:text-orange-100 hover:bg-orange-900"
            >
              Configuration
            </a>
          </div>
        </div>

        <div class="space-y-1">
          <a
            href="/docs/develop"
            class="flex space-x-3 items-center bg-slate-700 text-slate-100 hover:text-orange-100 hover:bg-orange-900 group w-full p-2 text-left text-sm font-medium rounded-md focus:outline-none focus:ring-2 focus:ring-indigo-500"
            aria-controls="sub-menu-1"
            aria-expanded="false"
          >
            <i class="fa-duotone fa-code h-5"></i>
            <span class="flex-1">Develop</span>
          </a>

          <div class="space-y-1" id="sub-menu-1">
            <a
              href="/docs/develop/server"
              class="group w-full flex items-center pl-11 pr-2 py-2 text-sm font-medium text-slate-300 rounded-md hover:text-orange-100 hover:bg-orange-900"
            >
              Development server
            </a>

            <a
              href="/docs/develop/generators"
              class="group w-full flex items-center pl-11 pr-2 py-2 text-sm font-medium text-slate-300 rounded-md hover:text-orange-100 hover:bg-orange-900"
            >
              Generators
            </a>
          </div>
        </div>

        <div class="space-y-1">
          <a
            href="/docs/ship"
            class="flex space-x-3 items-center bg-slate-700 text-slate-100 hover:text-orange-100 hover:bg-orange-900 group w-full p-2 text-left text-sm font-medium rounded-md focus:outline-none focus:ring-2 focus:ring-indigo-500"
            aria-controls="sub-menu-1"
            aria-expanded="false"
          >
            <i class="fa-duotone fa-ship h-5"></i>
            <span class="flex-1">Ship</span>
          </a>

          <div class="space-y-1" id="sub-menu-1">
            <a
              href="/docs/ship/deploying"
              class="group w-full flex items-center pl-11 pr-2 py-2 text-sm font-medium text-slate-300 rounded-md hover:text-orange-100 hover:bg-orange-900"
            >
              Deploying
            </a>
          </div>
        </div>
      </nav>
    </div>
  </div>

  <main class="pl-64">
    <div class="p-10 prose prose-invert prose-xl max-w-6xl">
      <slot />
    </div>
  </main>
</BaseLayout>
